<h1>Inbox</h1>

<%#= link_to "#{@user.impressionist_count(start_date:Time.now-(24*60*60),end_date: Time.now)} visits to my profile in the past 3 days", user_receives_visit_path %>
<div class="message_table">
<table>
  <tr>
    
    <th>status</th>
    <th>From</th>
    <th>To</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  
<% @messages.each do |message| %>
  <tr>
    <td><%= message.status %></td>
    <td><%= message.sender.name %></td>
    <td><%= message.receiver.name %></td>
    <td><%= message.title %></td>
    <td><%= link_to 'reply', message_reply_message_path(message) %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Delete', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


  <%= paginate @messages %>

