<h1>My Messages</h1>

<table class='message_table'>
  <tr>

    <td>Status</td>
    <td colspan ="2">From</td>
    <td colspan ="2">To</td>
    <td>Title</td>
  </tr>

  <% @messages.each do |message| %>
  <tr>
    
    <%if message.status=='unread'%>
    <td><%= message.status %></td>
    <td><%= message.sender.image%></td>
    <td><%= message.sender.name %></td>
    <td><%= message.receiver.image%></td>
    <td><%= message.receiver.name %></td>
    <td><%= message.title %></td>

    <td><%= link_to 'reply', message_reply_message_path(message) if can? :reply, message %></td> 

    <td><%= link_to 'Show', message %></td>
    <td><%= link_to( 'Delete', delete_message_path(message), metdod: :delete, data: { confirm: 'Are you sure?' }) if can? :destroy, message %></td>  
  </tr>

  <% end %>
</table>

<div id='message_new'><button>New Message</button></div>
<div id='close_message' class='hidden'><button>Close Message</button></div>
<div id='message_form' class='hidden'>
  <%= form_for(@message) do |f| %>

  <div class="field">
    <%= f.text_field :title, placeholder: "Title" %>
  </div><br>
  <div class="field">
    <%= f.text_area :content, placeholder: "Content" %>
  </div>

  <div class="message_receiver">
   <% if @original %>
   <%= f.label 'To:' %> 
   <%= @original.sender.name %> 
   <%= f.hidden_field :receiver_id, :value => @original.sender_id %>
   <% else %>
   <%= f.collection_select :receiver_id, User.find(current_user.id).viewed_users.uniq,:id,:name %> 

   <%end%> 
 </div>
 <div class="message_action">
  <%= f.submit 'Send'%>
</div>
<% end %>
</div>


<%= paginate @messages %>

