<p id="notice"><%= notice %></p>

<b>Subject</b>
<div class="message_field">
  <%= @message.title %>
</div>

<b>Content</b>
<div class="original_content">
  <%= @message.content %>
</div>

<b>Sender</b>
<div class="message_field">
  <%= @message.sender.name %>
</div>

<b>Receiver</b>
<div class='message_field'>
  <%= @message.receiver.name %>
</div>



<%= link_to 'Back to my messages', messages_path %>

<%= link_to 'Reply', message_reply_message_path(@message) %>
