<p id="notice"><%= notice %></p>

<div class='messages'>
<p>
  <b>Subject:</b>
  <%= @message.title %>
</p>

<p>
  <b>Content:</b>
  <%= @message.content %>
</p>

<p>
  <b>Sender:</b>
  <%= @message.sender.name %>
</p>

<p>
  <b>Receiver:</b>
  <%= @message.receiver.name %>
</p>
</div>



<%= link_to 'Back to my messages', messages_path %>
