<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class ='edit_top_wrapper'>

  <div class='edit_image'>  
    <%= image_tag @user.image.url %>
    <%unless @user.role=""%>
    <h3><%= @user.role%> USER</h3>
  <%end%>
  </div>

  <div class='edit_right_menu'>
    <h2><%= f.text_field :name %></h2>
    <div><%= f.text_area :about_me %>
    </div>
  </div>
</div>

<div class ='edit_left_list'>
  <ul>
    <li><%= f.label :age %></li>
    <li><%= f.label :gender %></li>
    <li><%= f.label :city %></li>
    <li><%= f.label :email %></li>
    <li><%= f.label :interested_in %></li>
    <li><%= f.label :height %></li>
    <li><%= f.label :smoker %></li>
    <li><%= f.label :github_id %></li>
    <li><%= f.label :favourite_language %></li>
    <li><%= f.label :stackoverflow_score %></li>
    <li><%= f.label :meet_ups %></li>
    <li><%= f.label :front_backend %></li>
  </ul>
</div>

<div class ='edit_right_list'>
  <ul>
    <li><%= f.number_field :age %></li>
    <li><%= f.text_field :gender %></li>
    <li><%= f.text_field :city %></li>
    <li><%= f.text_field :email %></li>
    <li><%= f.text_field :sex_preference %></li>
    <li><%= f.text_field :height %></li>
    <li>
<select name="user[smoker]">
  <option value="true">Yes</option>
  <option value="false">No</option>
</select>
</li>
    <li><%= f.text_field :github_id %></li>
    <li><%= f.text_field :favourite_language %></li>
    <li><%= f.text_field :stackoverflow_score %></li>
    <li><%= f.text_field :meet_ups %></li>
    <li><select name="user[front_backend]">
  <option value="true">Front-End</option>
  <option value="false">Back-End</option>
</select></li>
  </ul>
</div>

<%= f.submit %>

<% end %>
