
<%= search_form_for @search, url: advanced_search_path do |f| %>
<%= f.condition_fields do |c|%>
<div class="field">
  <%= c.attribute_fields do |a| %>
  <%= a.attribute_select associations: :user%>        

  <% end %>
  <%= c.predicate_select %>
  <%= c.value_fields do |v| %>
  <%= v.text_field :value %>
  <% end %>
</div>
<% end %>
<%= f.submit %>
<% end %>

<button><%= sort_link @search, :age %></button>
<button><%= sort_link @search, :city %></button>
<br>

<p><%= link_to 'Advanced Seach', advanced_search_path%></p>

<% @users.each do |user| %>
<div class="search_image" id ='user_<%=user.id%>' data-user-id="<%=user.id%>">
<%= link_to image_tag(user.image), user_path(user) %>
<div id="image_name_<%=user.id%>" class="hidden"><%= user.name %></div>
</div>

<% end %>
