<p id="notice"><%= notice %></p>


<p>
  <b>Image:</b>
  <%= image_tag @user.image.url %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Nickname:</b>
  <%= @user.username %>
</p>

<p>
  <b>Age:</b>
  <%= @user.age %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>

  <b>Interested in:</b>
  <%= @user.sex_preference %>
</p>

<p>
  <b>Hair:</b>
  <%= @user.hair_color %>
</p>

<p>
  <b>Eyes:</b>
  <%= @user.eyes_color %>
</p>

<p>
  <b>Height:</b>
  <%= @user.height %>
</p>

<p>
  <b>Smoker:</b>
  <%= @user.smoker %>
</p>

<p>
  <b>Favourite language:</b>
  <%= @user.favourite_language %>
</p>

<p>
  <b>Meet Ups:</b>
  <%= @user.meet_ups %>
</p>

<p>
  <b>About me:</b>
  <%= @user.about_me %>
</p>

<p>
  <%= link_to 'My Messages', messages_path%>
</p>

<p>

  <%= link_to "#{@user.impressionist_count(start_date:Time.now-(24*60*60),end_date: Time.now)} visits to my profile in the past 3 days", user_receives_visit_path %>
</p>

<p>
  <%= link_to 'Profiles i visited', user_makes_visit_path %>
</p>
