<p id="notice"><%= notice %>



  <div class='profile_top_left_menu'>
    <ul>
      <li><%= @user.name %></li>
      <li>A.K.A. <%= @user.username %></li>
      <li><%@user.role%></li>
      <li><%= link_to 'Profiles i visited', user_makes_visit_path %>
      </li>
      <li><%= link_to 'My Messages', messages_path%></li>
    </ul>
  </div>

  <div class='profile_image'>  
    <%= image_tag @user.image.url %>

    <div class="field">
      <%= form_for(@user) do |f| %>
      <%= f.label :image %><br />
      <%= f.file_field :image %>
      <%end%>
    </div>
  </div>


  <div class='profile_left_menu'
  
  <table>
    <tr>
      <td>Age</td>
      <td><%= @user.age %></td>
    </tr>


    <tr>
      <td>Gender</td>
      <td><%= @user.gender %></td>
    </tr>
    
    
    <tr>
      <td>City</td>
      <td><%= @user.city %></td>
    </tr>
    
    
    <tr>
      <td>Email</td>
      <td><%= @user.email %></td>
    </tr>

    <tr>
      <td>Interested in</td>
      <%= @user.sex_preference %>
      <td></td>
    </tr>

    <tr>
      <td>Height in cm</td>
      <td><%= @user.height %></td>
    </tr>

    <tr>
      <td>Smoker?</td>
      <td><%= @user.smoker %></td>
    </tr>

    <tr>
      <td>GitHub ID</td>
      <td><%= @user.github_id %></td>
    </tr>

    <tr>
      <td>Favourite language</td>
      <td><%= @user.favourite_language %></td>
    </tr>

    <tr>
      <td>Stack Overflow Score</td>
      <td><%= @user.stackoverflow_score %></td>
    </tr>

    <tr>
      <td>Meet Ups</td>
      <td><%= @user.meet_ups %></td>
    </tr>    

    <tr>
      <td>Front-end Or Back-end?</td>
      <td><%= @user.meet_ups %></td>
    </tr>    


    <tr>
      <td>Meet Ups</td>
      <td><%= @user.front_backend  %></td>
    </tr>  

    <tr>
      <td>About me</td>
      <td><%= @user.about_me %></td>
    </tr>    
    
    

    
    



    <%= link_to "#{@user.impressionist_count(start_date:Time.now-(24*60*60),end_date: Time.now)} visits to my profile in the past 3 days", user_receives_visit_path %>




