<p id="notice"><%= notice %>

  <div class='profile_top_wrapper'>

    <div class='profile_image'>  
      <%= image_tag @user.image.url %>
      <div class="field">
        <%= form_for(@user) do |f| %>
        <%= f.label :image %><br />
        <%= f.file_field :image %>
        <%end%>
      </div>
    </div>
    
    <div class='profile_right_menu'>
      <ul>
        <li><h2><%= @user.name %></h2></li>      
        <li><h3><%= @user.role.upcase%> USER</h3></li>
      </ul>
    </div>
  
  </div>
  <!-- <li><%#= link_to 'Profiles i visited', user_makes_visit_path %> -->
  <!-- </li> -->
  <!-- <li><%#= link_to 'My Messages', messages_path%></li> -->




<div class ='profile_left_list'>
  <ul>
    <li>Age</li>
    <li>Gender</li>
    <li>City</li>
    <li>Email</li>
    <li>Interested in</li>
    <li>Height in cm</li>
    <li>Smoker</li>
    <li>GitHub ID</li>
    <li>Favourite code language</li>
    <li>Stack Overflow Score</li>
    <li>Meet Ups</li>
    <li>Front-end Or Back-end</li>
    <li>About me</li>
  </ul>
</div>
<div class ='profile_right_list'>
  <ul>
    <li><%= @user.age %></li>
    <li><%= @user.gender %></li>
    <li><%= @user.city %></li>
    <li><%= @user.email %></li>
    <li><%= @user.sex_preference %></li>
    <li><%= @user.height %></li>
    <li><%= @user.smoker %></li>
    <li><%= @user.github_id %></li>
    <li><%= @user.favourite_language %></li>
    <li><%= @user.stackoverflow_score %></li>
    <li><%= @user.meet_ups %></li>
    <li> <%= @user.front_backend  %></li>
    <li><%= @user.about_me %></li>
  </ul>
</div>




<%= link_to "#{@user.impressionist_count(start_date:Time.now-(24*60*60),end_date: Time.now)} visits to my profile in the past 3 days", user_receives_visit_path %>




