<p id="notice"><%= notice %></p>

<p>
  <b>Viewer:</b>
  <%= @view.viewer_id %>
</p>

<p>
  <b>Viewed:</b>
  <%= @view.viewed_id %>
</p>


<%= link_to 'Edit', edit_view_path(@view) %> |
<%= link_to 'Back', views_path %>
